<script type="text/template" id="templates/dialogs/pixel-on-detail.html">

  <div class="dialog pixel-on-detail-dialog" data-dialog-id="pixel-on-detail">
    <div class="dialog-header">
      <h2 class="dialog-title">AI generator</h2>
      <button type="button" class="dialog-close" data-p-action="close">&times;</button>
    </div>

    <div class="dialog-content">
      <div class="detail-columns-container">
        <div class="detail-column-red">ThisisforHistory</div>
        <div class="detail-column-green">ThisisforPropmpt</div>
        <div class="detail-column-blue">ThisisforResult</div>
      </div>
    </div>

    <div class="dialog-footer">
      <h3>This is footer</h3>
      <button type="button" class="button cancel-button" data-p-action="close">Close</button>
    </div>
  </div>

</script>
